@use "./fonts" as *;
@use "./variables" as *;

body {
  font-family: "Pretendard-Medium", sans-serif;
  font-size: $font-size-16;
  font-weight: $font-weight-medium;
  line-height: 1.6;
  background-color: $color-beige-100;
  color: $color-black-200;

  overscroll-behavior: none;
}

button:focus {
  outline: 2px solid black;
  outline-offset: 2px;
}

.btn-g {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 14px;
  background-color: $color-green-500;
  color: #fff;
  border-radius: 10px;
  font-size: $font-size-18;
  font-weight: $font-weight-medium;
  line-height: 28px;
  word-break: keep-all;
  border: none;
  outline: none;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: $color-green-700;
  }

  &:active {
    background-color: $color-green-700;
  }

  @media (max-width: 768px) {
    width: 140px;
    padding: 8px 0;
    font-size: $font-size-16;
  }
}

.btn-choice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  padding: 41px 0;
  background-color: $color-beige-100;
  color: $color-black-200;
  font-size: $font-size-24;
  font-weight: $font-weight-medium;
  line-height: 18px;
  border: 2px solid $color-green-500;
  border-radius: 18px;

  &:hover {
    background-color: $color-green-50;
    scale: 1.03;
  }

  &:active {
    background-color: $color-green-50;
    scale: 1.03;
  }

  @media (max-width: 768px) {
    width: 240px;
    padding: 16px 0;
    font-size: $font-size-14;
    border: 1px solid $color-green-500;
    border-radius: 8px;
  }
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 4px 14px;
  background-color: $color-green-50;
  color: $color-black-200;
  border-radius: 50px;
  font-size: $font-size-14;
  font-weight: $font-weight-medium;

  @media (max-width: 768px) {
    padding: 4px 10px;
    font-size: $font-size-12;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (max-width: 768px) {
  [aria-label="PC 버전 메인 콘텐츠"] {
    /* 스크린리더에서도 완전히 숨김 */
    visibility: hidden;
    height: 0;
    overflow: hidden;
  }
}

@media (min-width: 769px) {
  [aria-label="모바일 버전 메인 콘텐츠"] {
    visibility: hidden;
    height: 0;
    overflow: hidden;
  }
}
